---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Layout from "../layouts/BaseLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("site.title")} description={t("site.description")}>
  <h1>{t("home.title")}</h1>
</Layout>
