---
import Layout from "../../layouts/BaseLayout.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { LANGUAGES_KEYS } from "../../i18n/ui";
import { ArrowRight } from "lucide-react";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return LANGUAGES_KEYS.map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout title={t("site.title")} description={t("site.description")}>
  <div
    class="mx-auto flex h-full w-full max-w-2xl flex-1 flex-col justify-center gap-[1em]"
  >
    <h1 class="font-serif text-4xl font-light text-foreground md:text-5xl">
      {t("home.title")}
    </h1>
    <p
      class="max-w-[48ch] text-left font-sans text-sm leading-relaxed text-pretty text-muted-foreground md:text-base"
    >
      {t("home.description1")}
    </p>
    <a
      href="/projects"
      class="group custom-underline inline-flex w-fit items-center text-xs duration-200 ease-in-out hover:custom-underline-active md:text-sm"
    >
      {t("home.exploreProjects")}
      <ArrowRight
        className="ml-1 h-4 w-4 transition-transform duration-200 ease-in-out group-hover:translate-x-0.5"
      />
    </a>
  </div>
</Layout>
