---
import Layout from "../../layouts/BaseLayout.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { LANGUAGES_KEYS } from "../../i18n/ui";
import { ArrowRight } from "lucide-react";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return LANGUAGES_KEYS.map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout title={t("site.title")} description={t("site.description")}>
  <div
    class="w-full max-w-2xl flex flex-col flex-1 mx-auto h-full align-center justify-center"
  >
    <h1 class="font-mono text-3xl md:text-4xl font-medium text-foreground mb-2">
      {t("home.title")}
    </h1>
    <p
      class="font-sans text-base text-muted-foreground mt-2 mb-4 max-w-xl leading-relaxed text-left"
    >
      {t("home.description1")}
    </p>
    <p
      class="font-sans text-base text-muted-foreground mb-4 max-w-xl leading-relaxed text-left"
    >
      {t("home.description2")}
    </p>
    <p
      class="font-sans text-base text-muted-foreground mb-8 max-w-xl leading-relaxed text-left"
    >
      {t("home.description3")}
    </p>
    <a
      href="/projects"
      class="font-sans text-foreground inline-flex items-center hover:text-muted-foreground transition-colors duration-200 ease-in-out"
    >
      {t("home.exploreProjects")}
      <ArrowRight className="ml-2 h-4 w-4" />
    </a>
  </div>
</Layout>
